


.allproduct-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 6%;
}

.product-card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .product-card {
        flex: 0 0 calc(33.333% - 20px); 
        max-width: calc(33.333% - 20px);
    }
}

@media (min-width: 992px) {
    .product-card {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.btn-btn {
    background-color: black;
    color: white;
    padding: 0.5em;
    width: 100px;
    margin: 10px;
    border: none;
    border-radius: 1em;
} 