.header-div {
    background-color: #2874f0 !important;
}



#navbarScrollingDropdown {
    color: #f0f0f0;
}

.profile-dropdown {
    display: flex;
    align-items: center;
  }

  .cart {
    position: relative;
}

.count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #cb2f2f;
    color: #ffffff;
    font-size: 10px; 
    padding: 2px 4px; 
    border-radius: 50%;
}