

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}


.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img {
    width: 90px;
}